In [1]:
# imports

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
import cv2

# from statsmodels.graphics.tsaplots import plot_acf
# from statsmodels.tsa.stattools import adfuller
# from scipy.ndimage.interpolation import shift

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.neural_network import MLPClassifier
from sklearn import metrics

import statsmodels.api as sm
from statsmodels.formula.api import ols

from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report 
from sklearn.ensemble import GradientBoostingClassifier
%matplotlib inline

In [2]:
# Versões dos pacotes usados no notebook

%reload_ext watermark
%watermark -a "César S. Hooper/ Dezembro 2022" --iversions
!python --version

Author: César S. Hooper/ Dezembro 2022

matplotlib : 3.3.4
sklearn    : 0.24.1
statsmodels: 0.12.2
cv2        : 4.5.4-dev
pandas     : 1.2.4
numpy      : 1.19.5

Python 3.8.8

In [6]:
datos = pd.read_excel('micro emini ES 08-07 18_43.xls')
datos.head(20)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,07:10,NaN,3914.25,I,I,L,S,-113,84,NaN,NaN,NaN,NaN,NaN,NaN
1,07:11,NaN,3915.25,I,I,L,S,-67,86,NaN,NaN,NaN,NaN,NaN,NaN
2,07:12,NaN,3915.75,I,I,L,S,-56,87,BUY,NaN,NaN,NaN,NaN,NaN
3,07:13,NaN,3915.50,I,I,L,S,-56,86,-0.25,NaN,NaN,NaN,NaN,NaN
4,07:14,NaN,3916.00,I,I,L,S,-45,87,0.25,NaN,NaN,NaN,NaN,NaN
5,07:15,NaN,3915.50,L,I,L,S,1,86,-0.25,NaN,NaN,NaN,NaN,NaN
6,07:16,NaN,3915.00,L,I,L,S,-23,85,-0.75,NaN,NaN,NaN,NaN,NaN
7,07:17,NaN,3914.75,L,I,L,S,-36,85,-1,NaN,NaN,NaN,NaN,NaN
8,07:18,NaN,3915.25,L,I,L,S,-23,86,-0.5,NaN,NaN,NaN,NaN,NaN
9,07:19,NaN,3914.75,L,I,L,S,-36,85,-1,NaN,NaN,NaN,NaN,NaN
10,07:20,NaN,3916.25,I,I,L,S,6,88,0.5,NaN,NaN,NaN,NaN,NaN
11,07:21,NaN,3916.75,L,I,L,S,26,89,1,NaN,NaN,NaN,NaN,NaN
12,07:22,NaN,3916.75,L,I,L,S,32,89,1,NaN,NaN,NaN,NaN,NaN
13,07:23,NaN,3917.75,L,I,L,S,70,93,2,NaN,NaN,NaN,NaN,NaN
14,07:24,NaN,3917.75,L,I,L,S,70,93,2,NaN,NaN,NaN,NaN,NaN
15,07:25,NaN,3917.00,I,I,L,S,103,91,1.25,NaN,NaN,NaN,NaN,NaN
16,07:26,NaN,3917.50,I,I,L,S,114,92,1.75,NaN,NaN,NaN,NaN,NaN
17,07:27,NaN,3917.50,I,I,L,S,114,92,1.75,NaN,NaN,NaN,NaN,NaN
18,07:28,NaN,3917.25,I,I,L,S,108,91,1.5,NaN,NaN,NaN,NaN,NaN
19,07:29,NaN,3917.00,I,I,L,S,103,91,1.25,NaN,NaN,NaN,NaN,NaN

In [9]:
datos['Unnamed: 9'].isnull().sum()

143

In [10]:
datos.shape

(499, 15)