In [1]:
# Imports

import numpy as np
import os
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
from xgboost import XGBRegressor
from sklearn.metrics import r2_score, mean_squared_error
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.filterwarnings("ignore", category=FutureWarning)
%matplotlib inline

In [2]:
path = 'C:/Users/Cesar Hooper/Desktop/github/proyecto_POZO'
os.listdir(path)

['.ipynb_checkpoints',
 'Case Técnico .pdf',
 'dados_pocos.csv',
 'Mathematical_Geology_1994.pdf',
 'scielo_pozos_correlacionados.pdf',
 'ScienceDirect_articles_15Sep2022_13-12-46.386.zip',
 'Untitled.ipynb']

In [3]:
dataset = pd.read_csv(path + '/dados_pocos.csv')

In [4]:
dataset

,Unnamed: 0,Nome do Poço,Fase,Tipo Poço,LDA (Lâmina D'Água),Diâmetro Fase,Metragem,NFases
0,0,6C5G4M,1,VERTICAL,598.0,26,607.0,4
1,1,6C5G4M,2,VERTICAL,598.0,17 1/2,1306.0,4
2,2,6C5G4M,3,VERTICAL,598.0,12 1/4,1201.0,4
3,3,6C5G4M,4,VERTICAL,598.0,8 1/2,1445.0,4
4,4,8030JC,1,VERTICAL,0.0,17 1/2,410.0,3
...,...,...,...,...,...,...,...,...
10644,10644,E25RS3,1,0,0.0,30,60.0,1
10645,10645,AR3826,1,0,0.0,30,50.0,1
10646,10646,XO8Q23,1,0,1282.0,36,56.0,1
10647,10647,7RK405,1,0,0.0,26,49.0,1
10648,10648,AX5W4Q,1,0,0.0,36,47.0,1

In [16]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10649 entries, 0 to 10648
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           10649 non-null  int64
 1   Nome do Poço         10649 non-null  object
 2   Fase                 10649 non-null  int64
 3   Tipo Poço            10649 non-null  object
 4   LDA (Lâmina D'Água)  10649 non-null  float64
 5   Diâmetro Fase        10649 non-null  object
 6   Metragem             10649 non-null  float64
 7   NFases               10649 non-null  int64
dtypes: float64(2), int64(3), object(3)
memory usage: 665.7+ KB

In [17]:
dataset.describe()

,Unnamed: 0,Fase,LDA (Lâmina D'Água),Metragem,NFases
count,10649.000000,10649.000000,10649.000000,10649.000000,10649.000000
mean,5324.000000,2.666448,1105.844333,678.043877,4.295709
std,3074.245842,1.537327,733.541670,564.198821,1.988411
min,0.000000,1.000000,0.000000,0.000000,1.000000
25%,2662.000000,1.000000,444.000000,178.000000,3.000000
50%,5324.000000,2.000000,1091.000000,604.000000,4.000000
75%,7986.000000,4.000000,1730.000000,1026.000000,5.000000
max,10648.000000,8.000000,2988.000000,4040.000000,22.000000

In [5]:
columnas = ['unnamed', 'name', 'fase', 'hole_type', 'lda', 'fase_diameter', 'metragen', 'n_fase'];
dataset.columns = columnas

In [6]:
dataset.head()

   unnamed    name  fase hole_type    lda fase_diameter  metragen  n_fase
0        0  6C5G4M     1  VERTICAL  598.0      26           607.0       4
1        1  6C5G4M     2  VERTICAL  598.0      17 1/2      1306.0       4
2        2  6C5G4M     3  VERTICAL  598.0      12 1/4      1201.0       4
3        3  6C5G4M     4  VERTICAL  598.0      8 1/2       1445.0       4
4        4  8030JC     1  VERTICAL    0.0      17 1/2       410.0       3

In [7]:
dataset = dataset.drop(['unnamed'], axis=1)

In [8]:
# arreglo con los tipos de perforaciones
dataset['hole_type'].unique()

array(['VERTICAL', 'DIRECIONAL', '0', 'HORIZONTAL'], dtype=object)

In [63]:
dataset[dataset['hole_type'] == tipos[3]]

         name  fase   hole_type     lda fase_diameter  metragen  n_fase
1177   GM2626     1  HORIZONTAL   328.0      8 1/2        780.0       1
1178   G363U2     1  HORIZONTAL   330.0      8 1/2        784.0       1
2194   P1SA39     1  HORIZONTAL  1323.0      12 1/4       843.0       2
2195   P1SA39     2  HORIZONTAL  1323.0      8 1/2        334.0       2
2196   7ABC53     1  HORIZONTAL  1323.0      8 1/2       1076.0       1
...       ...   ...         ...     ...           ...       ...     ...
10103  4WW4ZT     2  HORIZONTAL   469.0      5 1/2          0.0       2
10514  D06RW4     1  HORIZONTAL  1056.0      17 1/2      1283.0       3
10515  D06RW4     2  HORIZONTAL  1056.0      12 1/4      2435.0       3
10516  D06RW4     3  HORIZONTAL  1056.0      8 1/2        632.0       3
10517  FO1740     1  HORIZONTAL  1056.0      8 1/2        895.0       1

[1715 rows x 7 columns]

In [58]:
dataset[dataset['fase'] == 2]

         name  fase hole_type     lda fase_diameter  metragen  n_fase
1      6C5G4M     2  VERTICAL   598.0      17 1/2      1306.0       4
5      8030JC     2  VERTICAL     0.0      12 1/4      1670.0       3
8      9K474J     2  VERTICAL   134.0      28           995.0       3
11     OYC6AY     2  VERTICAL  1801.0      14 3/4       674.0       7
18     GQH3R4     2  VERTICAL    41.5      17 1/2       509.0       6
...       ...   ...       ...     ...           ...       ...     ...
10589  V5P0I7     2         0     0.0      16 1/2         0.0      22
10590  V5P0I7     2         0     0.0      6              0.0      22
10591  V5P0I7     2         0     0.0      8 1/2          0.0      22
10603  G4RU15     2         0     0.0      26           631.0       7
10631  B629QZ     2         0     0.0      12 1/4       128.0       3

[2646 rows x 7 columns]

In [66]:
dataset[dataset['name']=='V5P0I7']

         name  fase hole_type  lda fase_diameter  metragen  n_fase
10580  V5P0I7     1         0  0.0      12 1/4         0.0      22
10581  V5P0I7     1         0  0.0      16             0.0      22
10582  V5P0I7     1         0  0.0      17 1/2         0.0      22
10583  V5P0I7     1         0  0.0      5 7/8          0.0      22
10584  V5P0I7     1         0  0.0      6              0.0      22
10585  V5P0I7     1         0  0.0      6 1/8          0.0      22
10586  V5P0I7     1         0  0.0      8 1/2          1.0      22
10587  V5P0I7     2         0  0.0      12 1/4         0.0      22
10588  V5P0I7     2         0  0.0      16             0.0      22
10589  V5P0I7     2         0  0.0      16 1/2         0.0      22
10590  V5P0I7     2         0  0.0      6              0.0      22
10591  V5P0I7     2         0  0.0      8 1/2          0.0      22
10592  V5P0I7     3         0  0.0      12 1/4         0.0      22
10593  V5P0I7     3         0  0.0      16             0.0      22
10594  V5P0I7     3         0  0.0      17 1/2         0.0      22
10595  V5P0I7     3         0  0.0      8 1/2          0.0      22
10596  V5P0I7     4         0  0.0      12 1/4         0.0      22
10597  V5P0I7     4         0  0.0      8 1/2          0.0      22
10598  V5P0I7     5         0  0.0      12 1/4         0.0      22
10599  V5P0I7     5         0  0.0      8 1/2          0.0      22
10600  V5P0I7     5         0  0.0      9              0.0      22
10601  V5P0I7     5         0  0.0      9 1/2          0.0      22

In [17]:
datos_v = dataset[dataset['hole_type'] == 'VERTICAL']
datos_h = dataset[dataset['hole_type']== 'HORIZONTAL']
datos_h

         name  fase   hole_type     lda fase_diameter  metragen  n_fase
1177   GM2626     1  HORIZONTAL   328.0      8 1/2        780.0       1
1178   G363U2     1  HORIZONTAL   330.0      8 1/2        784.0       1
2194   P1SA39     1  HORIZONTAL  1323.0      12 1/4       843.0       2
2195   P1SA39     2  HORIZONTAL  1323.0      8 1/2        334.0       2
2196   7ABC53     1  HORIZONTAL  1323.0      8 1/2       1076.0       1
...       ...   ...         ...     ...           ...       ...     ...
10103  4WW4ZT     2  HORIZONTAL   469.0      5 1/2          0.0       2
10514  D06RW4     1  HORIZONTAL  1056.0      17 1/2      1283.0       3
10515  D06RW4     2  HORIZONTAL  1056.0      12 1/4      2435.0       3
10516  D06RW4     3  HORIZONTAL  1056.0      8 1/2        632.0       3
10517  FO1740     1  HORIZONTAL  1056.0      8 1/2        895.0       1

[1715 rows x 7 columns]

In [130]:
def trans_diam(diametros):
    diametros = [];
    
    for diam in diametros:
        diam = diam.split();
        if (len(diam)==2):
            p = diam[1].split('/');
            diametro = int(diam[0]) + int(p[0])/int(p[1])
        else: diametro = int(diam[0])
        print(diametro)

In [22]:
datos = pd.concat([datos_h, datos_v])

In [131]:
diametros = dataset['fase_diameter'];

In [124]:
d = diametros[0].split()
if (len(d)==2): 
    p = d[1].split('/')
    frac = int(p[0])/int(p[1])
    #frac = num/den;
    diametro = int(d250[0]) + frac;

print(diametro)

8.46875

In [111]:
p = d250[1].split('/')
num = int(p[0]); den = int(p[1])
print(num, den, num/den)

15 32 0.46875

In [108]:
d250[1].split('/')[1]

'32'

## **Correlaciones entre pozos**

se trata de encontrar los pozos que tienen un comportamiento parecido, es decir, que pertenecena la misma clase.
en primera instancia podríamos usar el KNN (K-nearest neigbourg) o algún árbol que agrupe a los semejantes. 
* cuáles son las características que permiten clasificar mejor un pozo.

Se nos entregan datos como el diámetro de perforación, el tipo de perforación, y la fase de la perforación. me parece que estos datos son relevantes, pero no estoy seguro que se puedan comparar pozos que están en fases distintas de perforación.

1.- fase de perforación permite realizar comparaciones?
2.- se pueden comparar pozos verticales con horizontales (u oblicuos) que están además en distintas fases??
  ???
3.- qué significa exactamente que dos o más pozos sean semejantes (correlacionados)??


### pasos a seguir?
1.- resonder la pregunta tres: buscar y leer información acerca de correlación entre pozos petroleros
    a. cómo se clasifica esa correlación
    b. qué estudios existen
    c. qué variables intervienen
2.- estudio por separado: tipo de perforación igual, fase de perforación idéntica y ver resultados
3.- probar con otros modelos de clasificación, además de KNN
4.- IDEA: transformar la fase de cada pozo en un parámetro más del vector de estado del pozo. p.ej (fase1: 1, fase2:1, fase3:0, fase4:1)